@page "{id:guid}"
@model DetailsModel
@{
    ViewData["Title"] = "Ticket Details";
}
<section>

  <h2>Ticket #@Model.Ticket.TicketNumber - @Model.Ticket.Subject</h2>

  <div class="form-area"> 

    <p class="form-cell">
      <label asp-for="Ticket.Subject"></label>
      <span>@Model.Ticket.Subject</span>
    </p>

    <p class="form-cell">
      <label asp-for="Ticket.CreatedOn"></label>
      <span>@(Model.Ticket.CreatedOn.Equals(DateTime.MinValue) ? "" : @Model.Ticket.CreatedOn.ToString("g"))</span>
    </p>

    <p class="form-cell">
      <label asp-for="Ticket.From"></label>
      <span>@Model.Ticket.From</span>
    </p>

    <p class="form-cell form-cellspan">
      <label asp-for="Ticket.Description"></label>
      <span>@Model.Ticket.Description</span>
    </p>
   
    <p class="form-cell">
      <label asp-for="Ticket.CategoryText"></label>
      <span>@Model.Ticket.CategoryText</span>
    </p>

    <p class="form-cell">
      <label asp-for="Ticket.SeverityText"></label>
      <span>@Model.Ticket.SeverityText</span>
    </p>

    <p class="form-cell">
      <label asp-for="Ticket.AssignedTo"></label>
      <span>@Model.Ticket.AssignedTo</span>
    </p>

    <p class="form-cell">
      <label asp-for="Ticket.ModifiedOn"></label>
      <span>@(Model.Ticket.ModifiedOn.Equals(DateTime.MinValue) ? "" : @Model.Ticket.ModifiedOn.ToString("g"))</span>
    </p>
 
  </div>

  <div class="form-actions">
      <a asp-page="/tickets/index" class="linkbutton btn-secondary"><i class="fa fa-chevron-left"></i>Back</a>
      <a asp-page="/tickets/edit" asp-route-ID="@Model.Ticket.Id"  class="button btn-primary"><i class="fa fa-edit"></i>Edit</a>
  </div>

</section>