@page "{id:guid?}"
@model EditModel
@{
    ViewData["Title"] = "Edit Ticket";
}

<section>
  @if (!Model.Ticket.Id.Equals(Guid.Empty))
  {
    <h2>Ticket #@Model.Ticket.TicketNumber - @Model.Ticket.Subject</h2>
  }
  else
  {
     <h2>New Ticket</h2>
  }
  
  
  <form method="post">
    
    <input asp-for="Ticket.Id" type="hidden" />

    <div class="form-area"> 

      <p class="form-cell">
        <label asp-for="Ticket.Subject"></label>
        <input asp-for="Ticket.Subject" />
        <span asp-validation-for="Ticket.Subject"></span>
      </p>

      <p class="form-cell">
        <label asp-for="Ticket.CreatedOn"></label>
        <span>@(Model.Ticket.CreatedOn.Equals(DateTime.MinValue) ? "" : @Model.Ticket.CreatedOn.ToString("g"))</span>
      </p>

      <p class="form-cell">
        <label asp-for="Ticket.From"></label>
        <input asp-for="Ticket.From" />
      </p>

      <p class="form-cell form-cellspan">
        <label asp-for="Ticket.Description"></label>
        <textarea asp-for="Ticket.Description" cols="70" rows="8"></textarea>
      </p>

      <p class="form-cell">
        <label asp-for="Ticket.Category"></label>
        <select asp-for="Ticket.Category" asp-items="Model.CategoryList">
          <option value="">Select Category...</option>
        </select>
      </p>

      <p class="form-cell">
        <label asp-for="Ticket.Severity"></label>
         <select asp-for="Ticket.Severity" asp-items="Model.SeverityList">
          <option value="">Select Severity...</option>
        </select>
      </p>

      <p class="form-cell">
        <label asp-for="Ticket.AssignedTo"></label>
         <select asp-for="Ticket.AssignedTo" asp-items="Model.UserList">
          <option value="">Select User...</option>
        </select>
      </p>

      <p class="form-cell">
        <label asp-for="Ticket.ModifiedOn"></label>
        <span>@(Model.Ticket.ModifiedOn.Equals(DateTime.MinValue) ? "" : @Model.Ticket.ModifiedOn.ToString("g"))</span>
      </p>

    </div>
  
    <div class="form-actions">
      <a asp-page="/tickets/index" class="linkbutton btn-secondary"><i class="fa fa-times"></i>Cancel</a>
      <button type="submit" class="button btn-primary"><i class="fa fa-floppy-o"></i>Save</button>
    </div>

  </form>

</section>